@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --very-dark-blue: #0D1A2D;
    --dark-blue: #15263F;
    --soft-blue: #8BACD9;
    --blue: #00FFF8;
    --medium-blue: #2E405A;
    --white: #FFFFFF;  
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', Tahoma, Sans-Serif;
    background: var(--very-dark-blue);
}

main {
    max-width: 327px;
    background: var(--dark-blue);
    border-radius: 25px;
}
.container {
    display: block;
    position: relative;
}
.center {
    display: block;
    max-width: 100%; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    border-radius: 10px;
}


.container::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--blue);
    opacity: 0;
}
.container::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(Shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    opacity: 0;
}
.container:hover:before {
    opacity: 0.7;
}
.container:hover:after {
    opacity: 1;
}
h1 {
    padding-top: 15px;
    padding-left: 25px;
    color: var(--white);
    font-weight: 600;
    font-size: 1.375rem;
    
}

h1:hover {
    color: var(--blue);
}

.title {
    text-decoration: none;
}

p {
    margin-right: 15%;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--soft-blue);
    line-height: 1.625rem;
    margin-bottom: 1rem;
}

.icons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
}

.eth_icon {
    display: flex;
}

.ethereum {
    color: var(--blue);
    transform: translateX(10px);
}

.icon_two {
    display: flex;
}

.days_left {
    color: var(--soft-blue);
    transform: translateX(10px);
}

hr {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--medium-blue);
    background-color: var(--medium-blue);
}

/* styling the last image and attributes*/

.attributes {
    padding-left: 25px;
    padding-bottom: 25px;
    display: flex;
}
.attributes img {
    border: 2px solid var(--white);
    border-radius: 50%;
}
.attribute_one {
    word-spacing: .1rem;
    display: flex;
    align-items: center;
    transform: translateX(15px);
}
.color_one {
    color: var(--soft-blue);
    margin-right: .3rem;
}
.name {
    text-decoration: none;
    color: var(--white);;
}

.name:hover {
    color: var(--blue);
}

/*.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }*/

@media all and (min-width: 350px) {
    main {
        max-width: 350px;
    }
    .center {
        width: 302px;
        height: 302px;
    }
    
}